@using CurrencyRate.Util 
@model IEnumerable<int>

@{
    ViewData["Title"] = "Конвертер драгоценных металлов";
}

<h4>Конвертер валют согласно курса ЦБ РФ - @ViewData["Date"]</h4><br />

<form method="post" action="~/PreciousMetal/Converter">
    <p>
        <h5>Покупка</h5>
        <label>Сумма, руб.</label>
        <input type="number" step="0.01" name="buySum" />
        <br />
        <label>Вид драг. металла</label>
        <select id="buyCode" name="buyCode">
            @foreach(var preciousMetalCode in Model)
            {
            <option value="@preciousMetalCode">@((Enum.Parse(typeof(PreciousMetalCode), preciousMetalCode.ToString()) as Enum).GetDisplayName())</option>
            }
        </select>
    </p>
    <p>
        <h5>Продажа</h5>
        <label>Вес, гр.</label>
        <input type="number" step="0.01" name="sellWeight" />
        <br />
        <label>Вид драг. металла</label>
        <select id="sellCode" name="sellCode">
            @foreach(var preciousMetalCode in Model)
            {
            <option value="@preciousMetalCode">@((Enum.Parse(typeof(PreciousMetalCode), preciousMetalCode.ToString()) as Enum).GetDisplayName())</option>
            }
        </select>
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>